html,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Raleway', sans-serif;
}

.uk-background-green {
    background-color: #1dbe72;
}

.uk-progress {
    height: 5px;
}

::placeholder {
    font-style: italic;
}

