{% extends 'base.html' %}
{% block page_title %}- 404{% endblock %}

{% block main_content %}
<h3 class="uk-heading-bullet">La Întretinere.ro - 404 Error</h3>
<p>Aceasta este o eroare <strong>404</strong>. Înseamnă că ceea ce cauți nu se află aici</p>
{% endblock %}
