{% extends 'base.html' %}
{% block page_title %}Administrator_page{% endblock %}


{% block main_content %}

<h2>Welcome</h2>
<h3>Admin page</h3>
<h4>Enter the general costs for all appartaments</h4>
 
</form>
<form action="/administrator_page" method = "POST">
   <p>luna_cheltuieli<input type = "text" name = "luna_cheltuieli" /></p>
   <p>pret_general_MC<input type = "integer" name = "pret_general_MC" /></p>
   <p>pret_general_gunoi<input type = "integer" name = "pret_general_gunoi" /></p>
   <p>pret_general_canal<input type = "integer" name = "pret_general_canal" /></p>
   <p>pret_general_curatenie<input type = "integer" name = "pret_general_curatenie" /></p>
   <p>fond_rulment<input type = "integer" name = "fond_rulment" /></p>
   <p>alte_cheltuieli<input type = "integer" name = "alte_cheltuieli" /></p>
   <p>diverse<input type = "integer" name = "diverse" /></p>
   <p>observatii<input type = "text" name = "observatii" /></p>
   

   <p><input type = "submit" value = "Submit" /></p>
</form>


<table border="1">

	<tr>
		<td>luna_cheltuieli:</td>
                <td>pret_general_MC:</td>
                <td>pret_general_gunoi:</td>
                <td>pret_general_canal:</td>
                <td>pret_general_curatenie:</td>
                <td>fond_rulment:</td>
                <td>alte_cheltuieli:</td>
                <td>diverse:</td>
                <td>observatii:</td>

        </tr>

        </tr>
        {% for i in newaccount %}
        <tr>
                <td>{{ i.luna_cheltuieli }}</td>
                <td>{{ i.pret_general_MC }}</td>
                <td>{{ i.pret_general_gunoi }}</td>
                <td>{{ i.pret_general_canal }}</td>
                <td>{{ i.pret_general_curatenie }}</td>
                <td>{{ i.fond_rulment }}</td>
		<td>{{ i.alte_cheltuieli }}</td>
                <td>{{ i.diverse }}</td>
                <td>{{ i.observatii }}</td>


        </tr>
        {% endfor %}

</table>



{% endblock %}
