{% extends 'base.html' %}
{% block page_title %}Edit{% endblock %}


{% block main_content %}

<h2>Welcome all</h2>


<h3>Admin page</h3>

 
</form>
<form action="/edit" method = "POST">
   <p>luna_cheltuieli<input type = "text" name = "luna_cheltuieli" /></p>
   <p>pret_general_MC<input type = "integer" name = "pret_MC" /></p>
   <p>gunoi<input type = "integer" name = "gunoi" /></p>
   <p>curatenie<input type = "integer" name = "curatenie" /></p>
   <p>fond_rulment<input type = "integer" name = "fond_rulment" /></p>
   <p>cheltuieli_asociatie<input type = "integer" name = "cheltuieli_asociatie" /></p>
   <p>observatii<input type = "text" name = "observatii" /></p>
   

   <p><input type = "submit" value = "Submit" /></p>
</form>




  <table>
        <tr>
            <td>luna_cheltuieli:</td>
            <td>{{ account['luna_cheltuieli'] }}</td>
        </tr>
        <tr>
            <td>pret_MC:</td>
            <td>{{ account['pret_MC'] }}</td>
        </tr>
        <tr>
            <td>gunoi:</td>
            <td>{{ account['gunoi'] }}</td>
        </tr>
        <tr>
            <td>curatenie:</td>
            <td>{{ account['curatenie'] }}</td>
        </tr>
        <tr>
            <td>fond_rulment:</td>
            <td>{{ account['fond_rulment'] }}</td>
        </tr>
        <tr>
            <td>cheltuieli_asociatie:</td>
            <td>{{ account['cheltuieli_asociatie'] }}</td>
        </tr>
 	<tr>
            <td>observatii:</td>
            <td>{{ account['observatii'] }}</td>
        </tr>

{% endblock %}
