<!DOCTYPE html>
<html>
    <head>
        <title>La Întretinere.ro {% block page_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    </head>
<body>

<div class="uk-grid-column-collapse uk-grid-row-collapse" uk-height-viewport uk-grid>
    <div class="uk-width-1-3@s uk-background-green uk-text-center uk-padding-small uk-light">
            {% include 'sidebar.html' %}
    </div>

    <div class="uk-width-expand@s uk-padding-small">
        <div uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <a href="" class="uk-margin-small-right" uk-icon="twitter"></a>
                        <a href="" class="uk-margin-small-right" uk-icon="facebook"></a>
                        <a href="" class="uk-margin-small-right" uk-icon="linkedin"></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div uk-grid>
            <div class="uk-width-large uk-align-center uk-margin-large-top">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
       
<!-- UIkit JS -->
<script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</body>
</html>