{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}


{% block main_content %}

		<div class="login">
			<h1>Login</h1>
			<div class="links">
				<a href="{{ url_for('conectare_page') }}" class="active">Login</a>
				<a href="{{ url_for('inregistrare_page') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('conectare_page') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
{% endblock %}


