{% extends 'base.html' %}
{% block page_title %}Edit{% endblock %}


{% block main_content %}

<h2>Welcome</h2>

<h3>Introdu datele corespunzatoare, {{ username }}</h3>

 
</form>

<form action="/edit" method = "POST">
   <p>Nr_apartament<input type = "integer" name = "accounts_apartament" /></p>
   <p>Luna_cheltuieli<input type = "varchar" name = "luna_cheltuieli" /></p>
   <p>Index_apa_MC_vechi<input type = "integer" name = "index_apa_MC_vechi" /></p>
   <p>Index_apa_MC_nou<input type = "integer" name = "index_apa_MC_nou" /></p>
   <p>Nr_persoane<input type = "integer" name = "nr_persoane" /></p>

   <label>Enter the curent day when you complete the fields::
    <input type="date" name="data_comunicarii" required pattern="\d{4}-\d{2}-\d{2}">
    <span class="validity"></span>
  </label>

   <p><input type = "submit" value = "Submit" /></p>
</form>





{% endblock %}
