{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}


{% block main_content %}
<h2 class="uk-heading-bullet">Bun venit La Întretinere.ro</h2>
<p>Welcome, {{ username }}!</p>
<p class="uk-text-lead">1Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>


{% endblock %}
