{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}


{% block main_content %}
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('conectare_page') }}">Login</a>
				<a href="{{ url_for('inregistrare_page') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('inregistrare_page') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				


				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				


				<label for="nr_apartament">
                                        <i class="fas fa-envelope"></i>
                                </label>
                                <input type="int" name="nr_apartament" placeholder="Apartament" id="nr_apartament" required>



				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	
{% endblock %}


