{% extends 'base.html' %}
{% block page_title %}Profile{% endblock %}


{% block main_content %}

    <p>Your account details are below:</p>


    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
	<tr>
            <td>Apartament:</td>
            <td>{{ account['accounts_apartament'] }}</td>
        </tr>
	<tr>
            <td>nr_persoane:</td>
            <td>{{ account['nr_persoane'] }}</td>
        </tr>
	<tr>
            <td>consum_apa_MC:</td>
            <td>{{ account['consum_apa_MC'] }}</td>
        </tr>
	 <tr>
            <td>data_comunicarii:</td>
            <td>{{ account['data_comunicarii'] }}</td>
        </tr>

    </table>

   <p>General inf. are below":</p>


    <table>
	<tr>
            <td>luna_cheltuieli:</td>
            <td>{{ account['luna_cheltuieli'] }}</td>
        </tr>
        <tr>
            <td>luna_cheltuieli:</td>
            <td>{{ account['luna_cheltuieli'] }}</td>
        </tr>

        <tr>
            <td>pret_MC:</td>
            <td>{{ account['pret_MC'] }}</td>
        </tr>
        <tr>
            <td>gunoi:</td>
            <td>{{ account['gunoi'] }}</td>
        </tr>
        <tr>
            <td>fond_rulment:</td>
            <td>{{ account['fond_rulment'] }}</td>
        </tr>
        <tr>
            <td>cheltuieli_asociatie:</td>
            <td>{{ account['cheltuieli_asociatie'] }}</td>
        </tr>
        <tr>
            <td>observatii:</td>
            <td>{{ account['observatii'] }}</td>
        </tr>
   <tr>
            <td>curatenie:</td>
            <td>{{ account['curatenie'] }}</td>
        </tr>




    </table>



{% endblock %}
