{% extends 'base.html' %}
{% block page_title %}Profile{% endblock %}


{% block main_content %}

    <p>Your  costs  are below:</p>
<!--
<table border="1">

	
	<tr>
		<td>luna_cheltuieli:</td>
		<td>nr_persoane:</td>
		<td>consum_apa_MC:</td>
		<td>data_comunicarii:</td>
		<td>pret_MC:</td>
		<td>gunoi:</td>
	</tr>

	{% for i in account %}
	luna_cheltuieli: {{ i.luna_cheltuieli }} Nr_persoane: {{ i.nr_persoane }} consum_apa_MC: {{ i.consum_apa_MC }} Data_comunicarii: {{ i.data_comunicarii }} Pret_MC: {{ i.pret_MC }} Gunoi: {{ i.gunoi }}
	{% endfor %}

-->


<table border="1">

	<tr>
		<td>luna_cheltuieli:</td>
		<td>nr_apartament</td>
		<td>data_comunicarii:</td>
		<td>nr_persoane:</td>
		<td>pret_general_MC:</td>
                <td>pret_general_gunoi:</td>
		<td>pret_general_canal:</td>
		<td>pret_general_curatenie:</td>
		<td>index_apa_MC_vechi:</td>
		<td>index_apa_MC_nou:</td>
		<td>total_MC:</td>
		<td>cost_apartament_apa:</td>
		<td>cost_apartament_canal:</td>
		<td>total_cost_apartament_Canal+Apa</td>
		<td>cost_apartament_gunoi</td>
		<td>cost_apartament_curatenie:</td>
		<td>fond_rulment:</td>
		<td>alte_cheltuieli</td>
		<td>diverse</td>
		<td>observatii</td>
		<td>total_apartament</td>
	</tr>
	{% for i in account %}
	<tr>
		<td>{{ i.luna_cheltuieli }}</td>
		<td>{{ i.nr_apartament }}</td>
		<td>{{ i.data_comunicarii }}</td>
		<td>{{ i.nr_persoane }}</td>
		<td>{{ i.pret_general_MC }}</td>
		<td>{{ i.pret_general_gunoi }}</td>
		<td>{{ i.pret_general_canal }}</td>
		<td>{{ i.pret_general_curatenie }}</td>
		<td>{{ i.index_apa_MC_vechi }}</td>
		<td>{{ i.index_apa_MC_nou }}</td>
		<td>{{ i.total_MC }}</td>
		<td>{{ i.cost_apartament_apa }}</td>
		<td>{{ i.cost_apartament_canal }}</td>
		<td>{{ i.total_cost_apartament_Canal+Apa }}</td>
		<td>{{ i.cost_apartament_gunoi }}</td>
		<td>{{ i.cost_apartament_curatenie }}</td>
		<td>{{ i.fond_rulment }}</td>
		<td>{{ i.alte_cheltuieli }}</td>
		<td>{{ i.diverse }}</td>
		<td>{{ i.observatii }}</td>
		<td>{{ i.total_apartament }}</td>

	</tr>
	{% endfor %}

</table>
{% endblock %}

