<div class="uk-clearfix">
    <div class="uk-float-right">
        <a href="{{ url_for('home_page') }}" class="uk-margin-small-right" uk-icon="home"></a>
 	<a href="{{ url_for('profile') }}" class="uk-margin-small-right" uk-icon="user"></a>
        <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
	<a href="{{ url_for('edit') }}"><i class="fas fa-sign-out-alt"></i>Edit your page</a>
	<a href="{{ url_for('administrator_page') }}"><i class="fas fa-sign-out-alt"></i>Administrator page</a>


    </div>
</div>


<img class="uk-margin-large-top" data-src="{{ url_for('static', filename='img/app.svg') }}" 
width="270" height="270" alt="La Întretinere.ro" uk-img>

<h1 class="uk-heading-line"><span>La Întretinere.ro</span></h1>

<p class="uk-text-emphasis">Aplicație de administrare online a întreținerii de bloc.</p>

<p uk-margin>
    <a class="uk-button uk-button-primary" href="{{ url_for('conectare_page') }}">Conectare</a>
    <a class="uk-button uk-button-primary" href="{{ url_for('inregistrare_page') }}">Înregistrare</a>
</p>
